{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Profile list{% endblock %}

{% block content %}
    {% if profile_list|length != 0 %}
        <h1>Here are the profiles we found matching your search:</h1>
        {% for profile in profile_list %}
            {% if profile.user != user %}
                <a href="{% url 'other_profile' profile.id %}">
                    {% if profile.profile_thumbnail %}
                        <img name="image"  src="{{ profile.profile_thumbnail.url }}" width="50"/>
                    {% endif %}
                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                </a>
                <br>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1>There were no results for your search.</h1>
    {% endif %}

    <br>
    <a href="{% url 'profile' user.profile.id %}">Return to your profile.</a>
{% endblock %}