<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div id="header">
        <h1 class="title">My Facebook</h1>
        {% if user.is_authenticated %}
            <center>
                <form name="search_form" action="{% url 'list_profiles' %}" method="get">
                    {% csrf_token %}
                    {{ search_form.as_p }}
                    <input type="submit" name="submit" value="Search">
                </form>

            </center>
            <h1>
            {% if user.profile.profile_thumbnail != None %}
                <img src="{{ user.profile.profile_thumbnail.url }}" width="100">
            {% endif %}
            Hi {{ user.first_name }}, welcome to your myFacebook account:</h1>
{#            <a href="{% url 'upload_image' %}">Click here to change your profile picture</a><br><br>#}
            <br>
            <h3>You can:</h3>
            <a href="{% url 'update_profile' user.profile.id %}">Update your account.</a><br>
            <a href="{% url 'upload_image' %}">Upload photos to your account OR change your profile picture.</a><br>
            <a href="{% url 'view_images' %}">View photos uploaded to your account.</a>
            <br><br>
            <hr>
            <br><br>
            <form name="form1" action="{% url 'add_wall_post' user.profile.id %}" method="post">
                {% csrf_token %}
                <h2>{{ form1.as_p }}</h2>
                <input type="hidden" name="forward_template" value='home'>
                <input type="submit" name="submit" value="Submit Wall Post">
            </form><br>

            <h3>Your Wall Posts:</h3>
            {% for wall_post in wall_post_list %}
                <table bgcolor="#d8bfd8">
                    <tr><td>
                        <h3>{{ wall_post.message }}</h3>
                        {% for comment in wall_post.postcomment_set.all %}
                            <li>{{ comment.comment }}<br>
                                [ author:{{ comment.author.first_name }}
                                         {{ comment.author.last_name }}
                                  posted at: {{ comment.posted_at }} ]
                            </li>
                        {% endfor %}
                    </td></tr>
                    <tr>
                        <td>
                        <form name="form2" action="{% url 'add_comment' wall_post.id %}" method="post">
                            {% csrf_token %}

                                {{ form2.as_p }}
                                <input type="hidden" name="forward_template" value='home'>
                                <input type="submit" name="submit" value="Add Comment">
                        </form>
                        </td>
                    </tr>
                    <tr bgcolor="white"><td></td></tr>
                </table>
            {% endfor %}

        {% else %}
            <a href="{% url 'login' %}">Login</a> if you already have an account.<br>
            OR <a href="{% url 'register' %}">Register</a> if you need a new account.

        {% endif %}
    </div>

</body>
</html>


